{% extends "layout.html" %}

{% block title %}Real Time Weather for Dublin Bay{% endblock %}

{% block main %}

<table class="table table-striped">
  <thead>
    <tr>
      <th>Time</th>
        <th><a href='/waveHeight' style="color:black;">Wave Height</a></th>
        <th>Wind Direction</th>
        <th><a href='/waveHeight' style="color:black;">Wind Speed</a></th>
      <th><a href='/tide' style="color:black;">Tide Height</th>
      <th>Star Rating</th>
    </tr>
  </thead>

  <tbody id="tblBody">
    {% for entry in weatherList %}
  <tr>
    {% for indvWeather in entry %}
    <td>
      {{indvWeather}}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</tbody>

</table>

{% endblock %}
